<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388080796260-9r40gscp9001rqvhqcjjbi7bautqmj9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388080796260-9r40gscp9001rqvhqcjjbi7bautqmj9l</string>
	<key>API_KEY</key>
	<string>AIzaSyA1CFQOHzx3N_A1-pNfA0LGLsog8Ei02zA</string>
	<key>GCM_SENDER_ID</key>
	<string>388080796260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kinkaze.Messager</string>
	<key>PROJECT_ID</key>
	<string>messager-b9cae</string>
	<key>STORAGE_BUCKET</key>
	<string>messager-b9cae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388080796260:ios:7940aa8eb07dd3a36bd571</string>
</dict>
</plist>